* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgb(172, 169, 169);
  padding: 0 100px;
  height: 50px;
}
#nav-bar .Logo {
  height: 100px;
}
#nav-bar .Logo:hover {
  cursor: pointer;
}
#nav-bar .nav-search {
  display: flex;
  align-items: center;
  background-color: #d4d2d2;
  padding: 5px 10px;
  border-radius: 5px;
  gap: 8px;
}
#nav-bar .nav-search:focus {
  border: none;
  outline: none;
}
#nav-bar i:hover {
  cursor: pointer;
  background-color: #b8b0b0;
  border-radius: 50%;
}
#nav-bar input {
  background-color: #d4d2d2;
  border: none;
  outline: none;
}
#nav-bar .profile-pic {
  height: 30px;
}
#nav-bar .profile-pic:hover {
  cursor: pointer;
}
#nav-bar .nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#nav-bar .nav-icon img:hover {
  cursor: pointer;
  background-color: #9b9696;
  border-radius: 50%;
}
#nav-bar .nav-icon i {
  font-size: 20px;
}
#nav-bar .nav-icon i:hover {
  cursor: pointer;
  background-color: #b8b0b0;
  border-radius: 50%;
}
#nav-bar .nav-icon .profile-pic {
  border-radius: 50%;
  background-color: #b8b0b0;
}
.main {
  /* border: 1px solid red; */
  margin: 40px 200px;
}
#userBio {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}
#userBio .bioL img {
  height: 150px;
}
.bioR {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  /* border: 1px solid red; */
}
.bioR1 {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  /* border: 1px solid purple; */
  width: 100%;
}
.bioR1 h1 {
  font-size: 25px;
  color: gray;
  font-weight: 400;
  padding-right: 25px;
}
.bioR1 button {
  padding: 7px 15px;
  border: 1px solid gray;
  background-color: #ffff;
  border-radius: 5px;
}
.bioR1 .verify-user {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  padding: 5px 25px;
  border-radius: 5px;
}
.bioR1 .bx-chevron-down {
  border: 1px solid gray;
  padding: 7px 10px;
  border-radius: 5px;
}
.bioR1 .bx-dots-horizontal-rounded {
  font-size: 30px;
  padding-left: 25px;
}
.bioR .follow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}
.bioR .follow .post {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bioR .follow .follower {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bioR .follow .following {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 30px;
}
.bioR .biopage h4 {
  font-weight: 500;
}
.bioR .biopage h5 {
  font-weight: 400;
  color: #9b9696;
}
.bioR .biopage a {
  text-decoration: none;
  color: #2f2f80;
}
.bioR .biopage2 {
  padding-top: 20px;
}
.bioR .biopage2 span {
  color: #9b9696;
}
.main .reel-sec {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px 80px;
}
.main .reel-sec > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.main .Post-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 15px 0;
}
.main .Post-head .sub-ph {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main #Post-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
